<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Doable" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 min-h-screen">

    <%= render "shared/navbar" %>

    <!-- flash messages -->
    <% flash.each do |key, value| %>
      <div class="mx-auto max-w-3xl mt-4 px-4 py-2 rounded bg-blue-100 text-blue-900">
        <%= value %>
      </div>
    <% end %>

    <!-- main content -->
    <main class="container mx-auto mt-8 px-4">
      <%= yield %>
    </main>

  </body>
</html>
